html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.center-cropped {
  width: 50%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
}

.biobox {
	position: absolute;
	left: 50%;
	height: 100%;
	width: 50%;
    text-align: center;
  	display: flex;
	justify-content: center;
	align-items: center; 
	overflow: hidden;
}

.biotitle {
	color: #444444;
	line-height: 5.5vmin;
	padding: 8%;
	position: relative;
    font-family: 'Titillium Web', sans-serif;
    font-size: 5.2vmin;
}

.bioname {
    font-size: 3.3vmin;
    line-height: 3.3vmin;
}

.biotext {
	line-height: 3.8vmin;
	font-size: 2.7vmin;
}

a {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    display: inline-block;
    color: #444444;
    line-height: 33px;
}

a:link {
	color: white;
	border-bottom: 1.8px solid #444444;
	text-decoration: none;
}

a:visited {
	color: #444444;
	text-decoration: none;
	border-bottom: white;
}

a:hover {
	border-bottom: white;
	color: black;
}